/*导航栏*/
.navbar {
    margin-bottom: 20px;
    width: 100%;
    height: 52px;
    background-color: #222222;
}
body{
background-color: #eeebf0;
}
.container {
    width: 100%;
    position: relative;
    margin-left: auto;
}

.logo {
    position: relative;
    padding-top: 10px;
    margin-left: 120px;
    vertical-align: middle;
    height: 50px;
    width: 117px;
    line-height: 20px;
    float: left;
    opacity: 0.85;
}

.logo:hover {
    opacity: 1;
}

.navbar-menu-left {
    float: left;
    padding-top: 15px;
    width: 60%;
    height: 52px;
    margin: 0;
    line-height: 20px;
}

.navbar-menu-left ul {
    list-style: none;
}

.navbar-menu-left ul li {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 14px;
}

.navbar-menu-left ul li a {
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #9d9d9d;
}

.navbar-menu-left ul li a:hover {
    color: #fff;
}

.store {
    color: #fea116;
}

.navbar-menu-right {
    float: right;
    padding-top: 15px;
    width: 20%;
    height: 52px;
    margin: 0;
    line-height: 20px;
}

.navbar-menu-right ul {
    list-style: none;
}

.navbar-menu-right ul li {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
}

.playground {
    opacity: 0.85;
}

.playground:hover {
    opacity: 1;
}

.fa-bell {
    width: 26px;
    padding-top: 1px;
    color: #95a5a6;
    font-size: 20px;
}

.avatar {
    opacity: 0.85;
    border-radius: 4px;
}

.avatar:hover {
    opacity: 1;
}

/*导航栏结束*/

/* main*/
.container {
    width: 1200px;
    height: 1098px;
    position: relative;
}

.container .c1 .c11 em {
    color: #cccccc;
    background: none;
    line-height: 30px;
    text-align: center;
    margin: 0 3px;
}

.container .c1 .c11 a {
    color: gray;
}

.container .c1 .c11 a:hover {
    color: #8590a6;
}

.container .c1 .c11 .y a {
    float: right;
    margin-right: 100px;
    margin-top: -28px;
}

.container .c2 ul li {
    margin-top: -20px;
    list-style: none;

}

.container .c2 ul li a:hover {
    text-decoration: underline;
}

.container .c2 {
    width: 100%;
    /*background-color: #E5E6E9;*/
    /*height: 970px;*/
    /*background-color: #8590a6;*/
}

.container .c2 .c22 {
    width: 250px;
    height: 289px;
    background-color: #fea116;
    float: right;
}

.container .mn {
    width: 915px;
    height: 970px;
}

.container .mn .bm {
    width: 915px;
    height: 155px;
}

.container .mn .bm {
    border: 1px solid #F0F0F0;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    background: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

.container .mn .bm h2 {
    color: #666;
    font-size: 14px;
}

.container .mn .bm .bm_c .heat .xld1 dt {
    margin-top: 30px;
    font-size: 14px;
    margin-left: 10px;
}

.container .mn .bm .bm_c .heat .xld1 dt a {
    color: black;
}

.container .mn .bm .bm_c .heat .xld1 dt a:hover {
    text-decoration: underline;
}

.container .mn .bm .bm_c .heat .xld1 dd {
    display: block;
    -webkit-margin-start: 40px;
    margin-bottom: 8px;
    margin: 0;
    padding: 0;
    color: gray;
    word-wrap: break-word;
    font-size: 14px;
    margin-left: 10px;
}

.container .mn .bm .bm_c .heat .xld {
    float: right;
    display: inline-block;
    flex-grow: 1;
    width: calc(50% - 15px - 1px);
    border-bottom: dotted 1px white;
    margin-top: -60px;
}

.container .mn .bm .bm_c .heat .xld dt a {
    color: black;
}

.container .mn .bm .bm_c .heat .xld dt {
    color: #333;
    font-size: 14px;

}

.container .mn .bm .bm_c .heat .xld dd {
    font-size: 14px;
    color: gray;
}

.container .mn .bm .bm_c .heat .xld dt a:hover {
    text-decoration: underline;
}

.container .mn .f1 .bmw .bm_h {
    border: none;
    font-weight: 500;
    background: white;
    padding: 0 15px;
    height: 31px;
    line-height: 31px;
    white-space: nowrap;
    border-radius: 3px 3px 0 0;
}

.bm_h h2 {
    margin-top: 5px;
    margin-left: 10px;
}

.bm_h h2 a {
    font-size: 14px;
}

.bm_h h2 a:hover {
    text-decoration: none;
}

.bm_h .o img {
    float: right;
    font-size: 16px;
}

.bmw .bm_c {
    display: block;
}

table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    display: table;
    background-color: white;
    border-color: gray;
    empty-cells: show;
    border-spacing: 2px;
    border-collapse: collapse;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: #8590a6;
}

.f1_icn a img {
    width: 32px;
    height: 32px;
    margin-top: 20px;
}

.bm_c td h2 {
    font-size: 14px;
    font-weight: normal;
    /*margin-bottom: 6px;*/
}

.bm_c td h2 a {
    color: #333333;
}

.bm_c td h2 a:hover {
    text-decoration: underline;
}

.bm_c p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.f1_tb td {
    padding: 15px 0 15px 15px;
    font-size: 12px;
}

td {
    display: table-cell;
    vertical-align: inherit;
}
tr{
    display: table-row;
    border-bottom: 1px solid #F0F0F0;
}
.xi2 a {
    color: #333333;
    font-size: 12px;
}

.bm_c .f1_tb .f2_i {
    width: 367px;
    height: 73px;
}

.bm_c .f1_tb .f3_i {
    height: 73px;
    width: 243px;

}

.bm_c .f1_tb .f1_i {
    width: 258px;
    height: 73px;

}

.bm_c .f1_tb .f1_i span {
    float: right;
}

.bm_c .f1_tb .f1_i .xi2 {
    margin-right: 4px;
}

.bm_c .f1_by a {
    color: #333333;
    font-size: 14px;
}

.bm_c .f1_by a:hover {
    text-decoration: underline;
}

.bm_c .f1_by cite {
    font-size: 14px;
    display: block;
    font-style: normal;
}

.bm_c .f1_row .f1_icn {
    width: 47px;
    height: 67px;
    /*background-color: #1b6d85;*/
}

.bm_c .f1_row .abc {
    width: 367px;
    height: 67px;

}

.bm_c .f1_row .abc h2 {
    margin-top: 16px;
}

.bm_c .f1_row .abc h2 a {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}

.bm_c .f1_row .abc h2 a:hover {
    text-decoration: underline;
}

.bm_c .f1_row .f1_i {
    width: 258px;
    height: 67px;
}

.bm_c .f1_row .f1_i span {
    float: right;
}



.bm_c .f1_row .f1_by {
    width: 243px;
    height: 67px;
    /*background-color: #333333;*/
}

.bm_c .f1_row .f1_by a {
    color: #333333;
    font-size: 14px;
}

.bm_c .f1_row .f1_by a:hover {
    text-decoration: underline;
}

.bm_c .f1_row .f1_by cite {
    font-size: 14px;
    display: block;
    font-style: normal;
}

.bm_c .f1_row .f1_icnn {
    width: 47px;
    height: 67px;

}

.bm_c .f1_row .f1_icnn a img {
    width: 32px;
    height: 32px;
}

.bm_c .f1_row .abcd {
    width: 367px;
    height: 67px;
}

.bm_c .f1_row .f1_ii {
    width: 258px;
    height: 67px;
}
.bm_c .f1_row .f1_ii span {
    float: right;
    font-size: 12px;
}
.bm_c .f1_row .f1_byy {
    width: 243px;
    height: 67px;
}
.bm_c .f1_row .f1_byy a {
    color: #333333;
    font-size: 14px;
}

.bm_c .f1_row .f1_byy a:hover {
    text-decoration: underline;
}

.bm_c .f1_row .f1_byy cite {
    font-size: 14px;
    display: block;
    font-style: normal;
}


.bm_c .f1_row .f1_icna {
    width: 47px;
    height: 67px;

}

.bm_c .f1_row .f1_icna a img {
    width: 32px;
    height: 32px;
}

.bm_c .f1_row .abcde {
    width: 367px;
    height: 67px;
}

.bm_c .f1_row .f1_iii {
    width: 258px;
    height: 67px;
}
.bm_c .f1_row .f1_iii span {
    float: right;
}
.bm_c .f1_row .f1_byyy {
    width: 243px;
    height: 67px;
}
.bm_c .f1_row .f1_byyy a {
    color: #333333;
    font-size: 14px;
}

.bm_c .f1_row .f1_byyy a:hover {
    text-decoration: underline;
}

.bm_c .f1_row .f1_byyy cite {
    font-size: 14px;
    display: block;
    font-style: normal;
}

.bm_c .f1_row .f1_icnb {
    width: 47px;
    height: 67px;

}

.bm_c .f1_row .f1_icnb a img {
    width: 32px;
    height: 32px;
}

.bm_c .f1_row .ab {
    width: 367px;
    height: 67px;
}

.bm_c .f1_row .f1_iia {
    width: 258px;
    height: 67px;
}
.bm_c .f1_row .f1_iia span {
    float: right;
}
.bm_c .f1_row .f1_byya {
    width: 243px;
    height: 67px;
}
.bm_c .f1_row .f1_byya a {
    color: #333333;
    font-size: 14px;
}

.bm_c .f1_row .f1_byya a:hover {
    text-decoration: underline;
}

.bm_c .f1_row .f1_byya cite {
    font-size: 14px;
    display: block;
    font-style: normal;
}
.bm_c .f1_row .f1_icnc {
    width: 47px;
    height: 67px;

}

.bm_c .f1_row .f1_icnc a img {
    width: 32px;
    height: 32px;
}

.bm_c .f1_row .ac {
    width: 367px;
    height: 67px;
}

.bm_c .f1_row .f1_iib {
    width: 258px;
    height: 67px;
}
.bm_c .f1_row .f1_iib span {
    float: right;
}
.bm_c .f1_row .f1_byyb {
    width: 243px;
    height: 67px;
}
.bm_c .f1_row .f1_byyb a {
    color: #333333;
    font-size: 14px;
}

.bm_c .f1_row .f1_byyb a:hover {
    text-decoration: underline;
}

.bm_c .f1_row .f1_byyb cite {
    font-size: 14px;
    display: block;
    font-style: normal;
}
.bmw .bm_h1{
    border: none;
    font-weight: 500;
    background: white;
    padding: 0 15px;
    height: 31px;
    line-height: 31px;
    white-space: nowrap;
    border-radius: 3px 3px 0 0;
}

.bm_h1 h2 {
    margin-top: 5px;
    margin-left: 10px;
}

.bm_h1 h2 a {
    font-size: 14px;
    color: #666666;
}

.bm_h1 h2 a:hover {
    text-decoration: none;
}

.bm_h1 .o img {
    float: right;
    font-size: 16px;
    margin-top: 10px;
}

.bm_c1 .f1_row .f1_icn {
    width: 47px;
    height: 67px;
    /*background-color: #1b6d85;*/
}
.bm_c1 .f1_row .f1_icn a img{
    width: 32px;
    height: 32px;
    margin-left: 18px;
}
.bm_c1 .f1_row .abc {
    width: 367px;
    height: 67px;

}

.bm_c1 .f1_row .abc h2 {
    margin-top: 10px;
    margin-left: 13px;
}

.bm_c1 .f1_row .abc h2 a {
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
    color: #333333;
}
.bm_c1 .f1_row .abc .data{

}
.abcde em{
    margin-left: 3px;
    font-weight: normal;
    display: inline-block;
    color: white;
    border-radius: 4px;
    padding: 2px 5px;
    height: 13px;
    line-height: 12px;
    font-size: 9px;
    font-family: Tahoma,Helvetica,sans-serif;
    background: #356DD0 !important;
    font-style: normal;
}
.ab em{
    margin-left: 3px;
    font-weight: normal;
    display: inline-block;
    color: white;
    border-radius: 4px;
    padding: 2px 5px;
    height: 13px;
    line-height: 12px;
    font-size: 9px;
    font-family: Tahoma,Helvetica,sans-serif;
    background: #356DD0 !important;
    font-style: normal;
}
.abc em{
    margin-left: 3px;
    font-weight: normal;
    display: inline-block;
    color: white;
    border-radius: 4px;
    padding: 2px 5px;
    height: 13px;
    line-height: 12px;
    font-size: 9px;
    font-family: Tahoma,Helvetica,sans-serif;
    background: #356DD0 !important;
    font-style: normal;
}
em:hover{
    cursor: pointer;
}
.bm_c1 .f1_row .abc h2 a:hover {
    text-decoration: underline;
}

.bm_c1 .f1_row .f1_i {
    width: 258px;
    height: 67px;
}

.bm_c1 .f1_row .f1_i span {
    float: right;
    font-size: 12px;
    margin-top: 10px;
}

.bm_c1 .f1_row .f1_by {
    width: 243px;
    height: 67px;
    /*background-color: #333333;*/
}

.bm_c1 .f1_row .f1_by a {
    color: #333333;
    font-size: 14px;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

.bm_c1 .f1_row .f1_by a:hover {
    text-decoration: underline;
}


.bm_c1 .f1_row .f1_icna {
    width: 47px;
    height: 67px;
    /*background-color: #1b6d85;*/
}
.bm_c1 .f1_row .f1_icna a img{
    width: 32px;
    height: 32px;
    margin-left: 18px;
}
.bm_c1 .f1_row .ab {
    width: 367px;
    height: 67px;

}

.bm_c1 .f1_row .ab h2 {
    margin-top: -5px;
    margin-left: 13px;
}

.bm_c1 .f1_row .ab h2 a {
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
    color: #333333;
}

.bm_c1 .f1_row .ab h2 a:hover {
    text-decoration: underline;
}

.bm_c1 .f1_row .f1_ii {
    width: 258px;
    height: 67px;
}

.bm_c1 .f1_row .f1_ii span {
    float: right;
    font-size: 12px;
    margin-top: 10px;
}

.bm_c1 .f1_row .f1_byy {
    width: 243px;
    height: 67px;
    /*background-color: #333333;*/
}

.bm_c1 .f1_row .f1_byy a {
    color: #333333;
    font-size: 14px;

    /*float: left;*/
    margin-left: 10px;
    /*margin-top: 10px;*/
}

.bm_c1 .f1_row .f1_byy a:hover {
    text-decoration: underline;
}


.bm_c1 .f1_row .f1_byy cite {
    font-size: 14px;
    display: block;
    font-style: normal;
    margin-left: 15px;
}

.bmw .bm_h2{
    border: none;
    font-weight: 500;
    background: white;
    padding: 0 15px;
    height: 31px;
    line-height: 31px;
    white-space: nowrap;
    border-radius: 3px 3px 0 0;
}

.bm_h2 h2 {
    margin-top: 5px;
    margin-left: 10px;
}

.bm_h2 h2 a {
    font-size: 14px;
    color: #666666;
}

.bm_h2 h2 a:hover {
    text-decoration: none;
}

.bm_h2 .o img {
    float: right;
    font-size: 16px;
    margin-top: 10px;
}

.bm_h2 .bm_c1 .f1_row .f1_icn {
    width: 47px;
    height: 67px;
    /*background-color: #1b6d85;*/
}
.bm_h2 .bm_c1 .f1_row .f1_icn a img{
    width: 32px;
    height: 32px;
    margin-left: 18px;
}
.bm_h2 .bm_c1 .f1_row .abc {
    width: 367px;
    height: 67px;

}

.bm_h2 .bm_c1 .f1_row .abc h2 {
    margin-top: 10px;
    margin-left: 13px;
}

.bm_h2 .bm_c1 .f1_row .abc h2 a {
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
    color: #333333;
}

.bm_h2 .bm_c1 .f1_row .abc h2 a:hover {
    text-decoration: underline;
}

.bm_h2 .bm_c1 .f1_row .f1_ii {
    width: 258px;
    height: 67px;
}

.bm_h2 .bm_c1 .f1_row .f1_ii span {
    float: right;
    font-size: 14px;
    margin-top: 10px;
}

.bm_h2 .bm_c1 .f1_row .f1_byyy {
    width: 243px;
    height: 67px;

    /*background-color: #333333;*/
}

.bm_c1 .f1_row .f1_byyy a{
    color: #333333;
    font-size: 14px;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

.bm_h2 .bm_c1 .f1_row .f1_byyy a:hover {
    text-decoration: underline;
}
.sd{
    width: 250px;
    height: 289px;

    float: right;
    margin-top: -970px;
    margin-right: 10px;
}
.sd .bm{
    border: 1px;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    border-radius: 3px;
    margin-bottom: 20px;
    text-align: center;
    width: 250px;
    height: 60px;
    color: white;
    position: absolute;
    background-color: white;
}
.sd .bm a{
    text-decoration: none;
}
.sd .bm a:hover{

}
.sd .bm .bm_c:hover{
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: initial;
    transition-delay: initial;
    box-shadow: 0 15px 10px rgba(26, 26, 26, .1);
}
.sd .bm .bm_c{
    width: 220px;
    height: 30px;
    background-color: #356DD0;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 3px;
    display: block;
    color: white;
}
.btn{
    border-radius: 3px;
    /*border: 1px solid #CCC;*/
    padding: 5px 12px;
    outline: 0 !important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    color: white;

}
.sta {
    margin-top: 70px;
}
.sta .bm_h h2{
    font-weight: 500;
    text-decoration: none;
    background-color: white;
    margin-left: -1px;
    width: 250px;
    height: 32px;
    color: #666666;
    font-size: 14px;
}
.sta .c1{
    margin-left: 10px;
    list-style: none;
    display: block;
    background-color: white;
    /*list-style-type: disc;*/
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px
}
.sta .c1 li{
    width: 250px;
    height: 41px;
    margin-left: -30px;
    font-size: 14px;
    color: #222527;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    text-align: center;
    text-align: -webkit-match-parent
}
.sta ul li a{
    color: #222527;
    font-size: 14px;
    margin-top: 5px;
}
.sta ul li a:hover{
    text-decoration: underline;
    cursor:pointer;
}
/*底 部*/
.footer {
    width: 100%;
    height: 70px;
    margin-top: 150px;
    position: relative;
}

.footer .left {
    margin-left: 20px;
    width: 562.08px;
    height: 70px;
    position: absolute;
}

.footer .left span {
    color: gray;
}

.footer .left .p1 span {
    width: 256.92px;
    height: 16px;
}

.footer .left .p2 span {
    width: 109.39px;
    height: 14px;
    top: 7px;
}

.footer .right {
    width: 756.91px;
    height: 70px;
    float: right;
}

.footer .right .links {
    width: 756.91px;
    height: 23px;
    margin-left: 200px;
}

.footer .right a {
    color: gray;
}

.footer .right .links {
    width: auto;
    height: 23px;
}

.footer .right .links ul {
    list-style: none;
}

.footer .right .links ul li {
    float: left;
}

.footer .right .links ul li .fengefu {
    height: 10px;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 6px;
    border-left: 2px;
    border: solid gray 1px
}

.footer .right .links ul a span:hover {
    text-decoration: underline;
}

.footer .right .links ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer .right .last {
    width: auto;
    height: 26px;
    margin-left: 480px;
}

.footer .right .last span:hover {
    text-decoration: none;
}

/*底部结束*/